# Data transformation

This jupyter notebook contains open source code for transforming a data from the the world bank. “Unemployment, youth total (% of total labor force ages 15-24)” data [1] contains information about estimates of the youth unemployment rate across countries and over time. The International Labour Organization (www.ilo.org) is a United Nations agency whose mandate is to advance social and economic justice through setting international labour standards.

## Import library

In [1]:
import pandas as pd

## Download data

We download "*Unemployment, youth total (% of total labor force ages 15-24)*" data as **EXCEL** format from the world bank (https://data.worldbank.org/indicator/SL.UEM.1524.ZS). The data includes information about the youth unemployment rate across countries between 1991 to 2019.

In [6]:
input_file = 'API_SL.UEM.1524.ZS_DS2_en_excel_v2_2253721.xls'
output_file = 'generated_data/transformed_data.csv'

## Read data

In [7]:
df = pd.read_excel(input_file, sheet_name = 'Data', skiprows=3, header=0)
df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,"Unemployment, youth total (% of total labor fo...",SL.UEM.1524.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,"Unemployment, youth total (% of total labor fo...",SL.UEM.1524.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,18.110001,18.090000,18.070000,17.889999,17.780001,17.680000,17.500000,17.330000,17.219999,NaN
2,Angola,AGO,"Unemployment, youth total (% of total labor fo...",SL.UEM.1524.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,16.879999,16.940001,17.000000,16.879999,16.809999,16.690001,16.510000,16.360001,16.260000,NaN
3,Albania,ALB,"Unemployment, youth total (% of total labor fo...",SL.UEM.1524.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,22.660000,28.620001,30.959999,39.529999,39.599998,35.630001,30.910000,28.209999,26.990000,NaN
4,Andorra,AND,"Unemployment, youth total (% of total labor fo...",SL.UEM.1524.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,"Unemployment, youth total (% of total labor fo...",SL.UEM.1524.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260,"Yemen, Rep.",YEM,"Unemployment, youth total (% of total labor fo...",SL.UEM.1524.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,22.660000,23.270000,23.990000,24.469999,24.309999,24.260000,24.250000,24.230000,24.240000,NaN
261,South Africa,ZAF,"Unemployment, youth total (% of total labor fo...",SL.UEM.1524.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,49.790001,51.389999,51.310001,51.340000,50.310001,53.630001,53.529999,53.770000,57.470001,NaN
262,Zambia,ZMB,"Unemployment, youth total (% of total labor fo...",SL.UEM.1524.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,21.280001,16.440001,17.610001,18.639999,19.690001,20.709999,21.620001,22.700001,22.629999,NaN
263,Zimbabwe,ZWE,"Unemployment, youth total (% of total labor fo...",SL.UEM.1524.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,8.470000,8.520000,8.550000,8.470000,8.440000,8.400000,8.310000,8.230000,8.130000,NaN

As you can see in the above tables, "Data" table contains youth unemployment rate (% of total labor force ages 15-24) of 264 countries with "Country Name", "Country Code", "Indicator Name", "Indicator Code", and year attributions.

## Transform data

In the process of data transforming, we extract ony OECD counties (n=37) and year between 1991 to 2019.

In [8]:
extract_columns = ['Country Name', '1991', '1992', '1993','1994','1995','1996',
                   '1997','1998','1999','2000','2001','2002','2003','2004','2005',
                   '2006','2007','2008','2009','2010','2011','2012','2013','2014',
                   '2015','2016','2017','2018','2019'] 
extract_rows = ['Australia', 'Austria', 'Belgium', 'Canada', 'Switzerland', 'Chile',
                'Colombia', 'Czech Republic', 'Germany', 'Denmark', 'Spain', 'Estonia',
                'Finland', 'France', 'United Kingdom', 'Greece', 
                'Hungary', 'Ireland', 'Iceland', 'Israel', 'Italy','Japan', 
                'Korea, Rep.', 'Lithuania', 'Luxembourg', 'Latvia', 'Mexico',   
                'Netherlands', 'Norway', 'New Zealand', 'Poland', 'Portugal', 'Slovak Republic',
                'Slovenia', 'Sweden', 'Turkey', 'United States']

extracted_df = pd.DataFrame(columns=['Country Name'])

rows_no = 0
for index, row in df.iterrows():
    if row['Country Name'] in extract_rows:
        extracted_df = extracted_df.append(row)
            
extracted_df = extracted_df.dropna(subset=['Country Name'], how='all') # drop rows where it contains meaningless values
extracted_df = extracted_df[extract_columns]
extracted_df

,Country Name,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
11,Australia,17.490000,19.299999,18.559999,16.879999,15.190000,15.630000,15.820000,14.450000,13.120000,...,11.500000,11.320000,11.670000,12.180000,13.280000,13.110000,12.670000,12.660000,11.870000,11.840000
12,Austria,3.720000,4.130000,4.660000,4.960000,5.910000,6.850000,7.560000,7.490000,5.920000,...,9.450000,8.910000,9.360000,9.640000,10.250000,10.560000,11.240000,9.780000,9.370000,8.510000
15,Belgium,13.940000,13.200000,18.440001,21.900000,21.570000,20.500000,21.260000,20.379999,22.590000,...,22.400000,18.750000,19.780001,23.730000,23.240000,22.129999,20.100000,19.230000,15.750000,14.250000
33,Canada,15.840000,17.230000,17.200001,15.900000,14.840000,15.400000,16.250000,15.130000,14.050000,...,14.890000,14.250000,14.440000,13.730000,13.450000,13.160000,13.060000,11.600000,11.100000,11.040000
35,Switzerland,3.180000,4.530000,6.370000,5.970000,5.450000,4.940000,6.450000,6.060000,6.160000,...,8.220000,7.690000,8.310000,8.730000,8.580000,8.810000,8.570000,8.050000,7.930000,7.980000
37,Chile,11.980000,10.240000,10.500000,12.790000,11.600000,17.700001,17.389999,17.620001,25.049999,...,19.120001,17.990000,16.799999,16.719999,17.070000,16.150000,16.020000,17.160000,18.219999,19.620001
43,Colombia,19.150000,18.030001,14.990000,15.580000,16.410000,21.680000,22.270000,27.160000,35.639999,...,21.860001,20.490000,19.270000,18.190001,17.600000,16.639999,17.520000,17.840000,18.580000,20.010000
52,Czech Republic,4.690000,6.240000,8.390000,8.650000,7.780000,7.190000,6.940000,10.770000,16.500000,...,18.350000,18.059999,19.510000,18.969999,15.860000,12.600000,10.490000,7.940000,6.730000,5.630000
53,Germany,5.510000,5.970000,7.670000,8.960000,8.470000,9.630000,10.670000,9.790000,8.880000,...,9.830000,8.530000,8.050000,7.830000,7.750000,7.230000,7.040000,6.750000,6.180000,5.750000
56,Denmark,11.490000,12.290000,14.570000,10.170000,9.930000,10.590000,8.110000,7.170000,9.900000,...,15.560000,16.309999,15.760000,14.750000,14.150000,12.110000,12.110000,12.360000,10.520000,10.050000
68,Spain,30.700001,33.000000,42.169998,44.869999,41.820000,41.770000,39.029999,35.389999,29.090000,...,41.500000,46.230000,52.900002,55.500000,53.200001,48.320000,44.419998,38.570000,34.369999,32.610001
69,Estonia,3.450000,7.410000,10.880000,11.390000,13.950000,15.760000,18.440001,14.840000,22.000000,...,32.849998,22.370001,20.870001,18.730000,14.990000,13.100000,13.400000,12.090000,11.840000,11.090000
73,Finland,14.960000,24.500000,30.790001,31.150000,40.610001,41.240002,35.240002,34.400002,29.860001,...,21.280001,19.940001,18.860001,19.799999,20.400000,22.270000,20.010000,19.990000,16.920000,17.090000
75,France,19.430000,21.350000,25.170000,28.389999,26.740000,27.209999,28.520000,25.889999,26.090000,...,22.410000,21.820000,23.549999,23.959999,24.120001,24.590000,24.350000,22.040001,20.680000,19.540001
79,United Kingdom,13.860000,15.640000,17.450001,16.330000,15.520000,14.900000,13.510000,12.350000,12.340000,...,19.660000,21.110001,21.070000,20.549999,16.870001,14.560000,12.930000,12.030000,11.220000,11.080000
87,Greece,23.400000,23.799999,25.799999,26.629999,26.709999,29.770000,29.790001,28.840000,30.830000,...,32.619999,44.299999,54.990002,58.000000,52.320000,49.720001,47.220001,43.470001,39.740002,35.110001
99,Hungary,19.209999,18.650000,22.750000,20.790001,18.590000,19.260000,16.860001,15.240000,12.300000,...,26.480000,25.990000,28.170000,26.490000,20.309999,17.209999,12.870000,10.660000,10.150000,11.400000
109,Ireland,22.450001,22.040001,24.110001,22.200001,18.240000,17.540001,15.370000,11.080000,8.310000,...,28.250000,29.620001,30.870001,26.850000,23.570000,20.389999,16.889999,14.480000,13.850000,12.560000
112,Iceland,4.890000,9.820000,9.910000,11.480000,11.810000,8.440000,7.910000,6.840000,4.210000,...,15.890000,14.210000,13.260000,10.450000,9.610000,8.600000,6.330000,7.560000,5.910000,8.480000
113,Israel,22.090000,22.620001,20.680000,16.660000,14.920000,13.540000,15.010000,16.950001,16.700001,...,14.270000,11.860000,12.180000,10.570000,10.620000,9.330000,8.640000,7.270000,7.150000,6.680000
114,Italy,28.480000,28.100000,30.059999,31.740000,33.450001,34.790001,34.660000,33.900002,33.060001,...,27.900000,29.190001,35.400002,40.160000,42.790001,40.410000,37.810001,34.770000,32.220001,29.219999
117,Japan,4.490000,4.520000,5.020000,5.580000,6.190000,6.670000,6.680000,7.700000,9.180000,...,9.470000,8.010000,7.980000,6.790000,6.330000,5.540000,5.090000,4.590000,3.580000,3.890000
124,"Korea, Rep.",6.970000,7.300000,8.570000,6.950000,6.010000,5.850000,7.280000,15.460000,13.700000,...,9.580000,9.570000,8.870000,9.180000,9.870000,9.860000,10.110000,9.750000,10.100000,9.820000
141,Lithuania,4.020000,4.410000,25.950001,25.610001,31.040001,29.129999,25.680000,25.250000,25.459999,...,35.720001,32.549999,26.670000,21.910000,19.260000,16.280001,14.430000,13.240000,11.110000,11.870000
142,Luxembourg,2.640000,3.690000,4.340000,7.900000,7.280000,9.270000,7.280000,6.410000,6.770000,...,14.150000,16.709999,18.549999,15.370000,22.020000,17.240000,18.680000,15.260000,14.080000,16.820000
143,Latvia,7.310000,14.720000,31.010000,33.680000,34.200001,36.950001,27.549999,26.969999,23.570000,...,36.130001,30.969999,28.500000,23.209999,19.570000,16.280001,17.219999,16.930000,12.190000,12.480000
152,Mexico,5.560000,5.610000,5.610000,7.410000,11.690000,9.620000,7.660000,6.710000,4.240000,...,9.730000,9.790000,9.370000,9.390000,9.400000,8.510000,7.610000,6.830000,6.820000,7.150000
174,Netherlands,11.100000,8.130000,10.460000,11.340000,12.130000,11.430000,9.740000,8.740000,7.370000,...,11.070000,9.990000,11.700000,13.170000,12.720000,11.250000,10.830000,8.880000,7.190000,6.770000
175,Norway,12.610000,13.670000,13.710000,12.440000,18.950001,15.140000,14.660000,12.520000,12.050000,...,9.280000,8.640000,8.430000,9.090000,7.830000,9.870000,11.090000,10.300000,9.630000,9.880000
178,New Zealand,19.340000,19.180000,17.889999,15.470000,12.270000,12.250000,13.620000,15.020000,14.160000,...,17.299999,17.450001,17.940001,15.000000,13.880000,13.730000,13.350000,12.880000,11.700000,11.160000
188,Poland,28.450001,27.440001,29.660000,32.099998,30.809999,28.219999,22.520000,21.059999,29.129999,...,23.639999,25.690001,26.410000,27.180000,23.740000,20.680000,17.590000,14.760000,11.700000,9.840000
192,Portugal,8.580000,9.550000,12.040000,14.550000,16.000000,17.049999,14.210000,9.500000,9.180000,...,22.740000,30.270000,37.980000,38.160000,34.830002,32.020000,27.990000,23.889999,20.309999,18.290001
219,Slovak Republic,25.750000,25.650000,25.059999,27.250000,24.709999,21.020000,22.559999,23.080000,31.879999,...,33.650002,33.450001,34.060001,33.700001,29.719999,26.490000,22.219999,18.930000,14.950000,16.110001
220,Slovenia,22.400000,25.950001,29.410000,21.500000,18.790001,16.889999,16.590000,17.700001,18.540001,...,14.710000,15.780000,20.660000,21.680000,20.230000,16.299999,15.250000,11.250000,8.830000,8.150000
221,Sweden,7.850000,13.510000,22.459999,22.400000,19.320000,21.040001,21.299999,17.100000,15.870000,...,24.650000,22.670000,23.469999,23.350000,22.639999,20.209999,18.770000,17.820000,17.420000,20.219999
242,Turkey,15.260000,16.209999,17.600000,15.930000,15.430000,13.360000,14.150000,13.940000,14.750000,...,19.260000,16.320000,15.310000,16.510000,17.480000,18.129999,19.129999,20.080000,19.730000,24.639999
249,United States,13.340000,14.170000,13.310000,12.430000,12.060000,11.940000,11.290000,10.310000,9.790000,...,18.290001,17.200001,16.400000,15.430000,13.280000,11.510000,10.320000,9.140000,8.520000,8.300000

The transformed data contains youth unemployment rate (% of total labor force ages 15-24) for OECD countries between 1991 to 2019.

## Save the result

In [11]:
extracted_df.to_csv(output_file, sep=',', encoding='utf-8', index=False)

## Conclusion

In this Jupyter notebook, we demonstrated how to access and transform youth unemployment data, The youth unemployment data was provided by World bank (https://data.worldbank.org/). 
The transformed youth unemployment data contains information about youth unemployment rate (% of total labor force ages 15-24) across OECD countries between 1991 to 2019.

## References

[1] International Labour Organization, Unemployment, youth total (% of total labor force ages 15-24), International Labour Organization, ILOSTAT database, 2020. [Dataset] Available:https://data.worldbank.org/indicator/SL.UEM.1524.ZS.  [Accessed: January 4, 2021].